html {
  text-align: center;
  margin: 20%;
}
body {
    font-family:monospace, Arial;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    font-size:25px;
  }
  .rainbow {
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -ms-background-clip:text;
    -o-background-clip:text;
    background-clip:text;
    color:transparent;
    background-image:linear-gradient(110deg, rgb(40, 44, 252), rgb(0, 225, 255))
  }
  .center {
    text-align: center;
  }
  a {
    color:rgb(191, 93, 247)
  }
